Repository alexyc9381/optimizely: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run test:api --passWithNoTests, npm run test:web --passWithNoTests

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "apps/api/src/**/*.ts": [
    "npm run test:api --passWithNoTests"
  ],
  "apps/web/src/**/*.{ts,tsx}": [
    "npm run test:web --passWithNoTests"
  ]
}

feat: Complete dashboard with AI Models, Industry Insights, Settings pages and Docker integration
  apps/web/pages/analytics/index.tsx
  apps/web/pages/industries/index.tsx
  apps/web/pages/integrations/index.tsx
  apps/web/pages/models/index.tsx
  apps/web/pages/settings/index.tsx
Due: eslint --fix, prettier --write

design: Standardize color scheme to use consistent blue throughout dashboard
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/components/Layout/DashboardLayout.tsx
  apps/web/components/Layout/Sidebar.tsx
  apps/web/pages/ab-testing/index.tsx
  apps/web/pages/analytics/index.tsx
  apps/web/pages/industries/index.tsx
  apps/web/pages/integrations/index.tsx
  apps/web/pages/models/index.tsx
  apps/web/pages/settings/index.tsx
Due: eslint --fix, prettier --write

feat: Major dashboard improvements for focused SaaS analytics
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/components/UniversalAIDashboard.tsx
  apps/web/pages/settings/index.tsx
Due: eslint --fix, prettier --write

feat(dashboard): Rebrand to Optelo and standardize UI components
  apps/web/.next/cache/webpack/client-development/0.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/0.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/components/UniversalAIDashboard.tsx
  apps/web/tailwind.config.js
Due: eslint --fix, prettier --write

feat(ui): Add custom scrollbar styling with gray theme and rounded corners
  apps/web/.next/cache/webpack/client-development/0.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/components/UniversalAIDashboard.tsx
Due: eslint --fix, prettier --write

feat(ui): Add global scrollbar styling to all pages
  apps/web/.next/cache/webpack/client-development/0.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/0.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/components/Layout/DashboardLayout.tsx
Due: eslint --fix, prettier --write

fix: resolve Stagewise toolbar duplicate initialization error
  apps/web/pages/_app.tsx
Due: eslint --fix, prettier --write

feat: remove header section from dashboard
  apps/web/components/UniversalAIDashboard.tsx
Due: eslint --fix, prettier --write

fix: resolve Stagewise toolbar integration by fixing Next.js build issues
  apps/web/components/ConversionRateTrendChart.tsx
  apps/web/components/EnhancedDashboard.tsx
  apps/web/components/Layout/NewSidebar.tsx
  apps/web/components/WebMetricsChart.tsx
  apps/web/components/ui/sidebar.tsx
  apps/web/lib/utils.ts
  apps/web/package.json
  apps/web/pages/ab-testing/index.tsx
  apps/web/pages/analytics/index.tsx
  apps/web/pages/industries/index.tsx
  apps/web/pages/integrations/index.tsx
  apps/web/pages/models/index.tsx
  apps/web/pages/settings/index.tsx
  apps/web/src/services/apiClient.ts
  package-lock.json
Due: eslint --fix, prettier --write, npm run test:web --passWithNoTests

feat: add Onlook configuration for visual design
  apps/web/.onlook.config.js
  apps/web/components/ConversionRateTrendChart.tsx
Due: eslint --fix, prettier --write

feat: improve dashboard layout and fix chart components
  apps/web/components/UniversalAIDashboard.tsx
  apps/web/components/WebMetricsChart.tsx
Due: eslint --fix, prettier --write

how can I run this project on a different port?
  bun.lock
Due: none

Switch from port 3001 to 3002 for Next.js dev server
  apps/web/.onlook.config.js
  apps/web/package.json
Due: eslint --fix, prettier --write

How can I resolve these errors? If you propose a fix, please make it concise.
  apps/web/.eslintrc.json
  apps/web/components/ConversionRateTrendChart.tsx
  apps/web/components/Dashboard.tsx
  apps/web/components/EnhancedDashboard.tsx
  apps/web/components/Layout/DashboardLayout.tsx
  apps/web/components/Layout/NewSidebar.tsx
  apps/web/components/Layout/Sidebar.tsx
  apps/web/components/UniversalAIDashboard.tsx
  apps/web/components/dashboard/DashboardBuilder.tsx
  apps/web/components/ui/sidebar.tsx
  apps/web/pages/_app.tsx
  apps/web/pages/_document.tsx
  apps/web/pages/ab-testing/index.tsx
  apps/web/pages/analytics/index.tsx
  apps/web/pages/industries/index.tsx
  apps/web/pages/integrations/index.tsx
  apps/web/pages/models/index.tsx
  apps/web/pages/settings/index.tsx
  apps/web/src/services/apiClient.ts
  src/components/CrossIndustryPerformanceDashboard.tsx
  src/lib/analytics/components/AnalyticsInterface.tsx
  src/lib/analytics/examples/AnalyticsExample.tsx
  src/lib/charts/components/BoxPlotChart.tsx
  src/lib/charts/components/CrossIndustryPerformanceDashboard.tsx
  src/lib/charts/components/ExportControls.tsx
  src/lib/charts/components/HeatmapChart.tsx
  src/lib/charts/components/MobileResponsiveChart.tsx
  src/lib/charts/components/RealTimeChart.tsx
  src/lib/charts/components/ThemeCustomizer.tsx
  src/lib/charts/components/UniversalChart.tsx
  src/lib/charts/components/VirtualizedChart.tsx
  src/lib/charts/examples/ExportExample.tsx
  src/lib/charts/examples/MobileExample.tsx
  src/lib/charts/examples/PerformanceExample.tsx
  src/lib/charts/examples/RealTimeExample.tsx
  src/lib/charts/examples/ThemeExample.tsx
Due: eslint --fix, prettier --write, npm run test:web --passWithNoTests

fix: Resolve Redis client compatibility and setup Onlook
  apps/api/src/services/account-based-marketing-service.ts
  apps/web/.next/cache/webpack/client-development/0.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/0.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/.onlook.config.js
  apps/web/next.config.js
  apps/web/postcss.config.js
  apps/web/tailwind.config.js
  apps/web/vitest.config.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat: Add root-level Onlook configuration for monorepo
  .onlook.config.js
Due: eslint --fix, prettier --write

fix: Update Onlook config to auto-kill port conflicts
  .onlook.config.js
Due: eslint --fix, prettier --write

Replace this text with just "Dashboard"
  apps/web/components/ConversionRateTrendChart.tsx
  apps/web/components/Dashboard.tsx
  apps/web/components/EnhancedDashboard.tsx
  apps/web/components/Layout/DashboardLayout.tsx
  apps/web/components/Layout/NewSidebar.tsx
  apps/web/components/Layout/Sidebar.tsx
  apps/web/components/UniversalAIDashboard.tsx
  apps/web/components/WebMetricsChart.tsx
  apps/web/components/dashboard/DashboardBuilder.tsx
  apps/web/components/ui/sidebar.tsx
  apps/web/pages/_app.tsx
  apps/web/pages/_document.tsx
  apps/web/pages/ab-testing/index.tsx
  apps/web/pages/analytics/index.tsx
  apps/web/pages/index.tsx
  apps/web/pages/industries/index.tsx
  apps/web/pages/integrations/index.tsx
  apps/web/pages/models/index.tsx
  apps/web/pages/settings/index.tsx
  apps/web/src/__tests__/Dashboard.test.tsx
  src/components/CrossIndustryPerformanceDashboard.tsx
  src/lib/analytics/components/AnalyticsInterface.tsx
  src/lib/analytics/examples/AnalyticsExample.tsx
  src/lib/charts/components/BoxPlotChart.tsx
  src/lib/charts/components/CrossIndustryPerformanceDashboard.tsx
  src/lib/charts/components/ExportControls.tsx
  src/lib/charts/components/HeatmapChart.tsx
  src/lib/charts/components/MobileResponsiveChart.tsx
  src/lib/charts/components/RealTimeChart.tsx
  src/lib/charts/components/ThemeCustomizer.tsx
  src/lib/charts/components/UniversalChart.tsx
  src/lib/charts/components/VirtualizedChart.tsx
  src/lib/charts/examples/ExportExample.tsx
  src/lib/charts/examples/MobileExample.tsx
  src/lib/charts/examples/PerformanceExample.tsx
  src/lib/charts/examples/RealTimeExample.tsx
  src/lib/charts/examples/ThemeExample.tsx
Due: eslint --fix, prettier --write, npm run test:web --passWithNoTests

Make this the same green color as the other percentage green text colors
  apps/web/components/UniversalAIDashboard.tsx
Due: eslint --fix, prettier --write

Please make the background of this a very light grey color so that it is easily distinguishable from the rest of the container
  apps/web/components/UniversalAIDashboard.tsx
Due: eslint --fix, prettier --write

Please also make the background of this a very light grey color so that it is also easily distinguishable from the rest of the container
  apps/web/components/ConversionRateTrendChart.tsx
Due: eslint --fix, prettier --write

Make this just say "Sessions"
  apps/web/components/ConversionRateTrendChart.tsx
  apps/web/components/UniversalAIDashboard.tsx
Due: eslint --fix, prettier --write

Make this text not say sessions but back to what htey originally said
  apps/web/components/ConversionRateTrendChart.tsx
  apps/web/components/Layout/DashboardLayout.tsx
  apps/web/components/UniversalAIDashboard.tsx
  apps/web/components/WebMetricsChart.tsx
Due: eslint --fix, prettier --write

fix: Display correct titles in Analytics Overview cards
  apps/web/components/UniversalAIDashboard.tsx
Due: eslint --fix, prettier --write

Can you make this entire container 30% smaller?
  apps/web/components/ConversionRateTrendChart.tsx
  apps/web/components/Dashboard.tsx
  apps/web/components/EnhancedDashboard.tsx
  apps/web/components/Layout/DashboardLayout.tsx
  apps/web/components/Layout/NewSidebar.tsx
  apps/web/components/Layout/Sidebar.tsx
  apps/web/components/UniversalAIDashboard.tsx
  apps/web/components/WebMetricsChart.tsx
  apps/web/components/dashboard/DashboardBuilder.tsx
  apps/web/components/ui/sidebar.tsx
  apps/web/pages/_app.tsx
  apps/web/pages/_document.tsx
  apps/web/pages/ab-testing/index.tsx
  apps/web/pages/analytics/index.tsx
  apps/web/pages/index.tsx
  apps/web/pages/industries/index.tsx
  apps/web/pages/integrations/index.tsx
  apps/web/pages/models/index.tsx
  apps/web/pages/settings/index.tsx
  apps/web/src/__tests__/Dashboard.test.tsx
  src/components/CrossIndustryPerformanceDashboard.tsx
  src/lib/analytics/components/AnalyticsInterface.tsx
  src/lib/analytics/examples/AnalyticsExample.tsx
  src/lib/charts/components/BoxPlotChart.tsx
  src/lib/charts/components/CrossIndustryPerformanceDashboard.tsx
  src/lib/charts/components/ExportControls.tsx
  src/lib/charts/components/HeatmapChart.tsx
  src/lib/charts/components/MobileResponsiveChart.tsx
  src/lib/charts/components/RealTimeChart.tsx
  src/lib/charts/components/ThemeCustomizer.tsx
  src/lib/charts/components/UniversalChart.tsx
  src/lib/charts/components/VirtualizedChart.tsx
  src/lib/charts/examples/ExportExample.tsx
  src/lib/charts/examples/MobileExample.tsx
  src/lib/charts/examples/PerformanceExample.tsx
  src/lib/charts/examples/RealTimeExample.tsx
  src/lib/charts/examples/ThemeExample.tsx
Due: eslint --fix, prettier --write, npm run test:web --passWithNoTests

Can you make this 30% smaller? Then make this button a light gray background with rounded corners
  apps/web/components/ConversionRateTrendChart.tsx
Due: eslint --fix, prettier --write

Fix this chart and remove the random dots that are scattered randomly and when I hover over a certain point in the chart, then let me view the more detailed analytics at that specific point
  apps/web/components/ConversionRateTrendChart.tsx
Due: eslint --fix, prettier --write
