Repository alexyc9381/optimizely: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run test:api --passWithNoTests, npm run test:web --passWithNoTests

Fix Vercel deployment: Updated vercel.json for correct build paths and removed duplicate config
  vercel.json
Due: prettier --write

Fix Vercel deployment: Final configuration update with correct paths and removed duplicate config
  apps/web/package.json
  apps/web/src/services/apiClient.ts
  apps/web/vercel.json
  package-lock.json
Due: eslint --fix, prettier --write, npm run test:web --passWithNoTests

Trigger Vercel deployment with latest fixes
  README.md
Due: prettier --write

🚀 FIX: Resolve build errors and server issues
  vercel.json
Due: prettier --write

Updated Vercel.json
  vercel.json
Due: prettier --write

🔧 RESTORE: Stagewise integration working again
  apps/web/package.json
  apps/web/pages/_app.tsx
  deployed-version/src/pages/_app.tsx
  package-lock.json
Due: eslint --fix, prettier --write

🔧 ENHANCE: Stagewise debugging and fallback indicator - Added comprehensive logging and visual fallback for stagewise integration
  apps/web/pages/_app.tsx
Due: eslint --fix, prettier --write

feat(models): Implement Train New Model configuration modal
  apps/tracking/dist/tracker.esm.js
  apps/tracking/dist/tracker.min.js
  apps/web/components/analytics/AnalyticsMain.tsx
  apps/web/components/modals/TrainModelModal.tsx
  apps/web/pages/_app.tsx
  apps/web/pages/models/index.tsx
  apps/web/src/services/__tests__/apiClient.test.ts
  apps/web/src/services/apiClient.ts
Due: eslint --fix, prettier --write, npm run test:web --passWithNoTests

feat(ab-testing): Implement Create New Test configuration modal
  apps/web/components/analytics/AnalyticsMain.tsx
  apps/web/components/modals/CreateTestModal.tsx
  apps/web/components/modals/TrainModelModal.tsx
  apps/web/pages/ab-testing/index.tsx
  apps/web/src/services/apiClient.ts
Due: eslint --fix, prettier --write, npm run test:web --passWithNoTests

feat(ab-testing): Add AI-powered auto-population for test creation
  apps/web/components/modals/CreateTestModal.tsx
  apps/web/src/services/apiClient.ts
Due: eslint --fix, prettier --write, npm run test:web --passWithNoTests

fix(ab-testing): Add missing onClick handler for analytics buttons
  apps/web/pages/ab-testing/index.tsx
Due: eslint --fix, prettier --write

feat(ab-testing): Create comprehensive analytics modal for test details
  apps/web/components/modals/AnalyticsModal.tsx
  apps/web/pages/ab-testing/index.tsx
Due: eslint --fix, prettier --write

style(analytics-modal): Reduce text size and remove bold styling
  apps/web/components/modals/AnalyticsModal.tsx
Due: eslint --fix, prettier --write

feat(models): Enhance Train New Model functionality with robust error handling
  apps/web/components/modals/TrainModelModal.tsx
  apps/web/pages/models/index.tsx
Due: eslint --fix, prettier --write

feat(user-profile): Implement dynamic form options based on user onboarding data
  apps/web/components/modals/CreateTestModal.tsx
  apps/web/components/modals/TrainModelModal.tsx
  apps/web/lib/contexts/UserProfileContext.tsx
  apps/web/pages/_app.tsx
  apps/web/pages/models/index.tsx
Due: eslint --fix, prettier --write

feat(ab-testing): Enhance Create New Test functionality with robust workflow
  apps/web/components/modals/CreateTestModal.tsx
  apps/web/components/modals/TrainModelModal.tsx
  apps/web/lib/contexts/UserProfileContext.tsx
  apps/web/pages/ab-testing/index.tsx
Due: eslint --fix, prettier --write

feat(ui): Make input text dark gray across all forms for better visibility
  apps/web/components/modals/CreateTestModal.tsx
  apps/web/components/modals/TrainModelModal.tsx
  apps/web/pages/ab-testing/index.tsx
  apps/web/pages/integrations/index.tsx
  apps/web/pages/settings/index.tsx
Due: eslint --fix, prettier --write

feat(ai): Add AI variant generation to A/B test creation modal
  apps/web/components/modals/CreateTestModal.tsx
  apps/web/pages/integrations/index.tsx
  apps/web/pages/settings/index.tsx
Due: eslint --fix, prettier --write

feat(testing): Add support for multiple A/B test variants with dynamic management
  apps/web/components/modals/CreateTestModal.tsx
Due: eslint --fix, prettier --write

feat(testing): Add approval step before A/B test publication
  apps/web/components/modals/CreateTestModal.tsx
Due: eslint --fix, prettier --write

feat(testing): Add element-specific A/B test variant controls with auto-population
  apps/web/components/modals/CreateTestModal.tsx
Due: eslint --fix, prettier --write

feat(testing): Enforce single element type per A/B test for consistency
  apps/web/components/modals/CreateTestModal.tsx
Due: eslint --fix, prettier --write

feat(testing): Redesign A/B testing flow based on Google Optimize/Optimizely patterns with AI enhancement
  apps/web/components/modals/CreateTestModal.tsx
Due: eslint --fix, prettier --write

fix(testing): Ensure published A/B tests appear on dashboard with persistence
  apps/web/components/modals/CreateTestModal.tsx
  apps/web/pages/ab-testing/index.tsx
Due: eslint --fix, prettier --write

fix(testing): Show proper empty state for newly published tests
  apps/web/pages/ab-testing/index.tsx
Due: eslint --fix, prettier --write

fix(testing): Add gray neutral state for conversion trend charts with no data
  apps/web/pages/ab-testing/index.tsx
Due: eslint --fix, prettier --write

feat: Replace Puppeteer with simple HTML parsing for web scraping
  apps/api/src/index.ts
  apps/api/src/routes/website-scanner.ts
  apps/web/components/modals/CreateTestModal.tsx
  apps/web/pages/ab-testing/index.tsx
  package-lock.json
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat: Integrate user's Apify website content crawler API
  apps/api/package.json
  apps/api/src/routes/website-scanner.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat: Add Apify token configuration to environment template
  env.production.template
Due: none

fix: Improve Apify website scanning with better error handling
  apps/api/package.json
  apps/api/src/routes/website-scanner.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

fix: Remove HTML fallback, simplify Apify integration
  apps/api/src/routes/website-scanner.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

fix: Add proper Apify error handling for memory limits
  apps/api/src/routes/website-scanner.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat: Replace Apify with Firecrawl for website scanning
  apps/api/package.json
  apps/api/src/routes/website-scanner.ts
  env.production.template
  package-lock.json
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

fix: Improve Firecrawl data handling and error resilience
  apps/api/src/routes/website-scanner.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

fix: Resolve Firecrawl data access structure
  apps/api/src/routes/website-scanner.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})
  npm run test:api --passWithNoTests: any of: apps/api/src/**/*.ts
  npm run test:web --passWithNoTests: any of: apps/web/src/**/*.{ts,tsx}
