Repository alexyc9381/optimizely: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run test:api --passWithNoTests, npm run test:web --passWithNoTests

fix: Website scanning stagewise functionality now fully active on localhost
  apps/api/src/routes/ab-testing.ts
  apps/api/src/routes/website-scanner.ts
  apps/tracking/dist/tracker.esm.js
  apps/tracking/dist/tracker.min.js
  apps/web/components/modals/CreateTestModal.tsx
  apps/web/src/services/apiClient.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests, npm run test:web --passWithNoTests

fix: Standardize Variant A Primary test styling to match other variants
  apps/api/src/routes/ab-testing.ts
  apps/web/components/modals/CreateTestModal.tsx
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

fix: Make lightning bolt icon green to match other variant icons
  apps/web/components/modals/CreateTestModal.tsx
Due: eslint --fix, prettier --write

fix: Remove gradient styling and make Generate AI Variants button smaller
  apps/web/components/modals/CreateTestModal.tsx
Due: eslint --fix, prettier --write

fix: Standardize Variant A structure to match Variant B layout
  apps/web/components/modals/CreateTestModal.tsx
Due: eslint --fix, prettier --write

cleanup: Remove unnecessary data-oid attributes from Sidebar component
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/routes/ai-generation.ts
  apps/api/src/services/gemini-ai-service.ts
  apps/tracking/dist/tracker.esm.js
  apps/tracking/dist/tracker.min.js
  apps/web/.env.local
  apps/web/components/Layout/Sidebar.tsx
  apps/web/components/modals/CreateTestModal.tsx
  apps/web/src/services/apiClient.ts
  env.production.template
  package-lock.json
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests, npm run test:web --passWithNoTests

fix: Align AI test suggestions with selected element type - suggestions now match selected element
  apps/web/components/modals/CreateTestModal.tsx
Due: eslint --fix, prettier --write

fix: Remove Settings submenu items from sidebar
  apps/web/components/Layout/Sidebar.tsx
  apps/web/components/modals/CreateTestModal.tsx
Due: eslint --fix, prettier --write

fix: Make Control section more descriptive with actual original content
  apps/web/components/modals/CreateTestModal.tsx
Due: eslint --fix, prettier --write

feat: Enhanced A/B testing modal with improved hover effects and UI organization
  apps/web/components/modals/CreateTestModal.tsx
Due: eslint --fix, prettier --write

fix: Simplify vercel.json for turborepo deployment
  vercel.json
Due: prettier --write

fix: Update web app vercel.json for proper deployment
  apps/web/vercel.json
Due: prettier --write

security: Remove exposed API keys and fix .gitignore
  .env.development
  .env.production
  .env.staging
  .gitignore
  apps/web/.env.local
Due: none

chore(ui): remove sidebar numeric badges from A/B Testing and AI Models nav items
  apps/web/components/Layout/Sidebar.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})
  npm run test:api --passWithNoTests: any of: apps/api/src/**/*.ts
  npm run test:web --passWithNoTests: any of: apps/web/src/**/*.{ts,tsx}
