Repository alexyc9381/optimizely: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run test:api --passWithNoTests, npm run test:web --passWithNoTests

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "apps/api/src/**/*.ts": [
    "npm run test:api --passWithNoTests"
  ],
  "apps/web/src/**/*.{ts,tsx}": [
    "npm run test:web --passWithNoTests"
  ]
}

feat(forecast): Implement Universal Revenue Forecasting Components
  apps/api/src/graphql/resolvers/query.ts
  apps/api/src/index.ts
  apps/api/src/routes/pipeline-visualization.ts
  apps/api/src/routes/revenue-forecasting.ts
  apps/api/src/services/revenue-forecasting-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(Task 5.3): Complete Universal Account Intelligence Displays
  .taskmaster/tasks/tasks.json
  apps/api/src/index.ts
  apps/api/src/routes/account-intelligence.ts
  apps/api/src/services/account-intelligence-service.ts
  apps/api/src/services/redis-client.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(task-5.4): Complete Universal Competitive Monitoring Interface
  .taskmaster/tasks/tasks.json
  apps/api/src/index.ts
  apps/api/src/routes/competitive-intelligence.ts
  apps/api/src/services/competitive-intelligence-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(executive-dashboard): Complete Task 5.5 Universal Campaign Attribution Reporting
  .taskmaster/tasks/tasks.json
  apps/api/src/index.ts
  apps/api/src/routes/campaign-attribution.ts
  apps/api/src/services/campaign-attribution-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat: Complete Task 5.6 - Universal Executive KPI Tracking
  .taskmaster/tasks/tasks.json
  apps/api/src/index.ts
  apps/api/src/routes/executive-kpi.ts
  apps/api/src/services/executive-kpi-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(territory-management): Complete Task 6.3 Universal Territory Management System
  .taskmaster/tasks/tasks.json
  apps/api/src/index.ts
  apps/api/src/routes/hot-accounts.ts
  apps/api/src/routes/revenue-attribution.ts
  apps/api/src/routes/territory-management.ts
  apps/api/src/routes/visitor-intelligence.ts
  apps/api/src/services/hot-accounts-service.ts
  apps/api/src/services/performance-optimizer.ts
  apps/api/src/services/territory-management-service.ts
  apps/api/src/services/visitor-intelligence-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(task-6.4): Complete Universal Automated Lead Routing System
  .taskmaster/tasks/tasks.json
  apps/api/package.json
  apps/api/src/__tests__/multi-dimensional-testing-service.test.ts.disabled
  apps/api/src/__tests__/performance-optimizer.test.ts.disabled
  apps/api/src/index.ts
  apps/api/src/routes/automated-lead-routing.ts
  apps/api/src/routes/performance.ts
  apps/api/src/routes/territory-management.ts
  apps/api/src/services/automated-lead-routing-service.ts
  package-lock.json
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(task-6.5): Complete Universal Real-time Notification System
  .taskmaster/tasks/tasks.json
  apps/api/src/index.ts
  apps/api/src/routes/real-time-notifications.ts
  apps/api/src/services/real-time-notification-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(sales-velocity): Complete Task 6.8 Universal Sales Velocity Tracking
  .taskmaster/tasks/tasks.json
  apps/api/src/index.ts
  apps/api/src/routes/lead-qualification.ts
  apps/api/src/routes/sales-velocity.ts
  apps/api/src/services/lead-qualification-service.ts
  apps/api/src/services/sales-velocity-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat: Implement Universal OAuth 2.0 Authentication System (Task 7.1)
  .taskmaster/tasks/tasks.json
  apps/api/src/index.ts
  apps/api/src/routes/oauth.ts
  apps/api/src/services/oauth-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(task-7.4): Implement Universal Contact Enrichment Workflows
  .taskmaster/tasks/tasks.json
  apps/api/src/index.ts
  apps/api/src/routes/contact-enrichment.ts
  apps/api/src/services/contact-enrichment-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(crm): Implement Universal Custom Field Mapping Service (Task 7.5)
  apps/api/src/index.ts
  apps/api/src/routes/custom-field-mapping.ts
  apps/api/src/services/custom-field-mapping-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(crm): Implement Universal Duplicate Detection System for Task 7.6
  .taskmaster/tasks/tasks.json
  apps/api/src/index.ts
  apps/api/src/routes/duplicate-detection.ts
  apps/api/src/services/duplicate-detection-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

fix: resolve all TypeScript compilation errors
  apps/api/src/routes/account-based-marketing.ts
  apps/api/src/routes/universal-automated-email-sequence-engine.ts
  apps/api/src/routes/universal-competitive-intelligence.ts
  apps/api/src/routes/universal-sales-alert-notification.ts
  apps/api/src/services/account-based-marketing-service.ts
  apps/api/src/services/universal-competitive-intelligence-service.ts
  apps/api/src/services/universal-marketing-platform-integration-hub.ts
  apps/api/src/services/universal-performance-tracking-service.ts
  apps/api/src/services/universal-revenue-attribution-service.ts
  apps/api/src/services/universal-sales-alert-notification-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat: implement Universal Analytics Platform Integration (Task 9.1)
  .taskmaster/tasks/tasks.json
  apps/api/src/__tests__/universal-analytics-platform-integration.test.ts
  apps/api/src/index.ts
  apps/api/src/routes/universal-analytics-platform-integration.ts
  apps/api/src/services/universal-analytics-platform-integration-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

fix: resolve all build errors with simplified service implementations
  .taskmaster/tasks/tasks.json
  apps/api/src/__tests__/universal-attribution-modeling.test.ts
  apps/api/src/__tests__/universal-audience-segmentation.test.ts
  apps/api/src/__tests__/universal-full-funnel-attribution.test.ts
  apps/api/src/index.ts
  apps/api/src/routes/universal-attribution-modeling.ts
  apps/api/src/routes/universal-audience-segmentation.ts
  apps/api/src/routes/universal-full-funnel-attribution.ts
  apps/api/src/services/universal-analytics-platform-integration-service.ts
  apps/api/src/services/universal-attribution-modeling-service.ts
  apps/api/src/services/universal-audience-segmentation-engine.ts
  apps/api/src/services/universal-full-funnel-attribution-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

fix(tests): Fix TypeScript errors in ab-test-auto-configuration tests
  .taskmaster/tasks/tasks.json
  apps/api/src/__tests__/ab-test-auto-configuration.test.ts
  apps/api/src/__tests__/ab-test-prioritization-engine.test.ts
  apps/api/src/__tests__/ab-test-prioritization.test.ts
  apps/api/src/__tests__/universal-content-performance.test.ts
  apps/api/src/index.ts
  apps/api/src/routes/ab-test-auto-configuration.ts
  apps/api/src/routes/ab-test-monitoring.ts
  apps/api/src/routes/ab-test-prioritization.ts
  apps/api/src/routes/ab-test-templates.ts
  apps/api/src/routes/smart-onboarding.ts
  apps/api/src/routes/universal-ab-testing.ts
  apps/api/src/routes/universal-campaign-roi.ts
  apps/api/src/routes/universal-content-performance.ts
  apps/api/src/routes/universal-marketing-reporting.ts
  apps/api/src/services/ab-test-auto-configuration-service.ts
  apps/api/src/services/ab-test-monitoring-engine.ts
  apps/api/src/services/ab-test-prioritization-engine.ts
  apps/api/src/services/ab-test-template-service.ts
  apps/api/src/services/smart-onboarding-service.ts
  apps/api/src/services/statistical-analysis-engine.ts
  apps/api/src/services/universal-ab-testing-service.ts
  apps/api/src/services/universal-campaign-roi-service.ts
  apps/api/src/services/universal-content-performance-service.ts
  apps/api/src/services/universal-marketing-reporting-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(ab-test): Complete automatic A/B test configuration and launch system with enhanced safety features
  apps/api/src/__tests__/ab-test-auto-configuration.test.ts
  apps/api/src/routes/ab-test-auto-configuration.ts
  apps/api/src/services/ab-test-auto-configuration-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(industry-metrics): Complete Industry Metric Mapping System - Task 14.1
  apps/api/src/__tests__/industry-metric-mapping-service.test.ts
  apps/api/src/index.ts
  apps/api/src/routes/industry-metrics.ts
  apps/api/src/services/industry-metric-mapping-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(adaptive-layout): Complete Task 14.2 - Adaptive Layout Engine
  apps/api/src/__tests__/adaptive-layout-engine.test.ts
  apps/api/src/index.ts
  apps/api/src/routes/adaptive-layout.ts
  apps/api/src/services/adaptive-layout-engine.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(smart-widget-recommendations): Complete Task 14.3 - Smart Widget Recommendation Engine
  apps/api/src/__tests__/smart-widget-recommendation-engine.test.ts
  apps/api/src/index.ts
  apps/api/src/routes/smart-widget-recommendations.ts
  apps/api/src/services/smart-widget-recommendation-engine.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(task-17.2): Implement Behavioral Metrics Analytics Engine
  src/lib/services/__tests__/behavioral-metrics-analytics-engine.test.ts
  src/lib/services/behavioral-metrics-analytics-engine.ts
  src/pages/api/behavioral-metrics/analytics.ts
Due: eslint --fix, prettier --write

feat(task-17.5): Implement Customer Journey Visualization Engine
  src/lib/services/__tests__/customer-journey-visualization-engine.test.ts
  src/lib/services/customer-journey-visualization-engine.ts
  src/pages/api/customer-journey/visualization.ts
Due: eslint --fix, prettier --write

feat(analytics): Complete AI-Powered Insights and Takeaways Generator (Task 17.3)
  src/lib/services/__tests__/ai-insights-generator.test.ts
  src/lib/services/ai-insights-generator.ts
Due: eslint --fix, prettier --write

chore(taskmaster): Mark task 17.3 (AI Insights Generator) as complete
  .taskmaster/tasks/tasks.json
Due: prettier --write

feat(analytics): Complete Revenue Prediction Analytics System (Task 17.4)
  src/lib/services/__tests__/revenue-prediction-analytics.test.ts
  src/lib/services/revenue-prediction-analytics.ts
Due: eslint --fix, prettier --write

chore(taskmaster): Mark task 17.4 (Revenue Prediction Analytics) as complete
  .taskmaster/tasks/tasks.json
Due: prettier --write

feat(task-17.7): Complete Real-time Analytics Processing Engine
  src/lib/services/__tests__/real-time-analytics-engine.test.ts
  src/lib/services/real-time-analytics-engine.ts
Due: eslint --fix, prettier --write

feat(analytics): Complete Task 17.6 - Industry-Specific Analytics Module
  apps/web/src/test/setup.ts
  src/lib/services/__tests__/industry-specific-analytics.test.ts
  src/lib/services/industry-specific-analytics.ts
Due: eslint --fix, prettier --write, npm run test:web --passWithNoTests

feat(task-17.3): Complete AI-Powered Insights Generator Implementation
  .cursor/rules/context_first.mdc
  .taskmaster/tasks/tasks.json
  apps/api/prisma/dev.db
  apps/api/src/__tests__/automated-onboarding-engine.test.ts
  apps/api/src/__tests__/progressive-complexity-manager.test.ts
  apps/api/src/index.ts
  apps/api/src/routes/automated-onboarding.ts
  apps/api/src/routes/progressive-complexity.ts
  apps/api/src/services/automated-onboarding-engine.ts
  apps/api/src/services/progressive-complexity-manager.ts
  apps/tracking/dist/tracker.esm.js
  apps/tracking/dist/tracker.esm.js.map
  apps/tracking/dist/tracker.min.js
  apps/tracking/dist/tracker.min.js.map
  apps/tracking/jest.config.cjs
  apps/tracking/src/modules/PerformanceOptimizer.ts
  apps/tracking/src/test-setup.ts
  apps/web/package.json
  apps/web/src/__tests__/Dashboard.test.tsx
  jest.config.cjs
  package-lock.json
  src/lib/middleware/api-auth.ts
  src/lib/services/__tests__/deep-customer-profiling-engine.test.ts
  src/lib/services/__tests__/industry-specific-analytics.test.ts
  src/lib/services/__tests__/real-time-analytics-engine.test.ts
  src/lib/services/deep-customer-profiling-engine.ts
  src/lib/services/industry-specific-analytics.ts
  src/lib/types/customer-analytics.ts
  src/pages/api/customer-analytics/__tests__/index.test.ts
  src/pages/api/customer-analytics/events.ts
  src/pages/api/customer-analytics/index.ts
  src/pages/api/customer-analytics/profile.ts
  src/pages/api/docs/openapi.yaml
  src/pages/api/graphql/resolvers.ts
  src/pages/api/graphql/schema.ts
  test_saas_scoring.js
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests, npm run test:web --passWithNoTests

feat(task-17.8): Complete Customer Analytics API Layer Implementation
  .taskmaster/tasks/tasks.json
  src/lib/sdk/analytics-client.ts
  src/lib/sdk/examples/universal-integration.ts
  src/lib/services/deep-customer-profiling-engine.ts
  src/pages/api/customer-analytics/batch.ts
  src/pages/api/customer-analytics/webhooks.ts
  src/pages/api/health.ts
Due: eslint --fix, prettier --write

feat(charts): Complete Task 18.2 - Statistical Chart Library Implementation
  .taskmaster/tasks/tasks.json
  apps/api/src/__tests__/dashboard-framework.test.ts
  apps/api/src/index.ts
  apps/api/src/routes/dashboard-management.ts
  apps/api/src/services/dashboard-service.ts
  apps/api/src/types/dashboard-analytics.ts
  apps/api/src/types/dashboard.ts
  apps/web/components/dashboard/DashboardBuilder.tsx
  apps/web/package.json
  package-lock.json
  src/lib/charts/StatisticalChartEngine.ts
  src/lib/charts/__tests__/StatisticalChartEngine.test.ts
  src/lib/charts/components/BoxPlotChart.tsx
  src/lib/charts/components/HeatmapChart.tsx
  src/lib/charts/components/UniversalChart.tsx
  src/lib/charts/types.ts
  src/lib/types/dashboard-analytics.js
  src/lib/types/dashboard-analytics.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(outcome-tracking): Implement Universal Outcome Tracking System for Task 20.1
  apps/api/src/__tests__/outcome-tracking.test.ts
  apps/api/src/routes/outcome-tracking.ts
  apps/api/src/services/outcome-tracking-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

fix(eslint): Create ESLint v9 configuration to resolve build issues
  eslint.config.js
Due: eslint --fix, prettier --write

feat(ab-testing): Implement comprehensive A/B Testing Framework for universal platform optimization
  .taskmaster/tasks/tasks.json
  apps/api/src/__tests__/ab-testing.test.ts
  apps/api/src/index.ts
  apps/api/src/routes/ab-testing.ts
  apps/api/src/services/ab-testing-service.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests

feat(recommendation-engine): Implement Task 20.4 Adaptive Recommendation Engine
  .taskmaster/tasks/tasks.json
  apps/api/src/__tests__/adaptive-recommendation-engine.test.ts
  apps/api/src/index.ts
  apps/api/src/routes/adaptive-recommendation.ts
  apps/api/src/services/adaptive-recommendation-engine.ts
Due: eslint --fix, prettier --write, npm run test:api --passWithNoTests
