Repository alexyc9381/optimizely: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run test:api --passWithNoTests, npm run test:web --passWithNoTests

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "apps/api/src/**/*.ts": [
    "npm run test:api --passWithNoTests"
  ],
  "apps/web/src/**/*.{ts,tsx}": [
    "npm run test:web --passWithNoTests"
  ]
}

🚀 CRITICAL: Fix Railway deployment configuration for web app
  apps/web/Dockerfile
  apps/web/next.config.js
  railway.json
Due: eslint --fix, prettier --write

RAILWAY FIX: Complete deployment isolation
  apps/web/Dockerfile
  apps/web/components/Layout/NewSidebar.tsx
  apps/web/components/Layout/Sidebar.tsx
  apps/web/next.config.js
  apps/web/pages/settings/index.tsx
  railway.json
Due: eslint --fix, prettier --write

🔄 FORCE VERCEL REDEPLOY: Trigger new build with latest fixes
  vercel.json
Due: prettier --write

🔥 URGENT: Force Vercel to use latest commit with all fixes
  DEPLOYMENT_FORCE.txt
Due: none

🚀 CRITICAL FIX: Eliminate React hydration errors
  README.md
  apps/web/pages/settings/index.tsx
  apps/web/src/test/mockData.ts
Due: eslint --fix, prettier --write, npm run test:web --passWithNoTests

🚀 COMPLETE FIX: All hydration errors resolved + tests setup
  README.md
  apps/tracking/package.json
  package-lock.json
Due: prettier --write

🔧 Fix Vercel deployment: Remove stale package-lock.json and update next.config
  .claude/settings.local.json
  apps/web/next.config.js
  apps/web/package-lock.json
  package-lock.json
Due: eslint --fix, prettier --write

🚀 FORCE VERCEL SYNC: Ensure latest config is used
  .claude/settings.local.json
  .vercelignore
  apps/web/next.config.js
Due: eslint --fix, prettier --write

🚨 CRITICAL VERCEL FIX: Force clean deployment
  .claude/settings.local.json
  apps/web/vercel-debug.js
  apps/web/vercel.json
  vercel.json
Due: eslint --fix, prettier --write

🔥 EMERGENCY: Force Vercel to use latest commit a6dfa5a
  DEPLOYMENT_FORCE.md
Due: prettier --write

🔧 Fix vercel.json: Remove invalid JSON syntax
  apps/web/vercel.json
Due: prettier --write

🚀 Fix Vercel deployment: Remove static export for proper build
  apps/web/next.config.js
  vercel.json
Due: eslint --fix, prettier --write

🔧 Fix Vercel monorepo: Use builds config for apps/web
  vercel.json
Due: prettier --write

🔧 Simplify vercel.json: Use minimal config for manual setup
  vercel.json
Due: prettier --write

🚀 Fix Vercel ignore: Force builds to run
  vercel.json
Due: prettier --write

🔧 Fix monorepo build: Install deps from root, build from apps/web
  vercel.json
Due: prettier --write

🚀 FINAL FIX: Simplify Vercel config for clean deployment
  apps/web/vercel.json
  vercel.json
Due: prettier --write

🚀 Fix localhost development server issues
  apps/web/pages/_app.tsx
  apps/web/pages/api/auth/[...nextauth].ts
Due: eslint --fix, prettier --write

🔧 Fix TypeScript errors and change dev port
  apps/web/package.json
  apps/web/pages/api/auth/[...nextauth].ts
Due: eslint --fix, prettier --write

Fix Vercel deployment: Updated vercel.json for correct build paths and removed duplicate config
  vercel.json
Due: prettier --write
